body{
    height: 2000px;
    background-image: url(giphy.gif);
    background-size: cover;
    background-repeat:round ;
  }
h2{
  style=" 
  padding:50px;
  text-shadow: 10px 10px 10px gray;
  font-family: Impact;
  font-size: 200px;
  color:green;""
}
.uilinkcards{
color: aliceblue;
align-self: center;
}
.grid-container{
    color:#daada4;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px 200px;
    font-family: impact;
    padding: 10px;

    
}
.grid-item{  
    width: 200px;
    height: 200px;
    grid-row-start: 1;
}
#drake{
    text-align: center;
    background: url(https://media.giphy.com/media/3o85xJohCZUc524lSU/giphy.gif)
}
#asaprocky{
    text-align: center;
    background: url(https://media.giphy.com/media/ZFVDjhi9ySqdy/giphy.gif)
}
#chainsmokers{
    text-align: center;
    background: url(https://media.giphy.com/media/BLyt6YhGhJeTxfuoj0/giphy.gif)
}
#steveaoki{
    text-align: center;
    background: url(https://media.giphy.com/media/l1EtoqTtzMaf9stdm/giphy.gif)
}
#beyonce{
    text-align:center;
    background: url(https://media.giphy.com/media/6J2kRTRUht18A/giphy.gif)
}
#cardib{
    text-align:center;
    background: url(https://media.giphy.com/media/3oEjI6SEda9CiPEYXm/giphy.gif)
}
#davematthews{
    text-align:center;
    background: url(https://media.giphy.com/media/nVcbmxgwfhmIo/giphy.gif)
}
#marcusking{
    text-align:center;
    background: url(marcusking.gif)
}
#future{
    text-align:center;
    background: url(https://media.giphy.com/media/Ij3cgOUxZCU6I/giphy.gif)
}
#taylorswift{
    text-align:center;
    background: url(https://media.giphy.com/media/xT0Cyhi8GCSU91PvtC/giphy.gif)
}
#bruno{
    text-align:center;
    background: url(https://media.giphy.com/media/wIsqLDzu2L7rO/giphy.gif)
}
#rihanna{
    text-align:center;
    background: url(https://media.giphy.com/media/k1SuVPEuA89S8/giphy.gif)
}
#justin{
    text-align:center;
    background: url(https://media.giphy.com/media/uxaAzjKLRCZjO/giphy.gif)
}
#post{
    text-align:center;
    background: url(https://media.giphy.com/media/3ofSB687F2o66VfeRq/giphy.gif)
}
#weekend{
    text-align:center;
    background: url(https://media.giphy.com/media/l0Hlzq7Ow5T6UuwyQ/giphy.gif)
}
#sam{
    text-align:center;
    background: url(https://media.giphy.com/media/3o6EhLQwZCVJi7VB9m/giphy.gif)
}
#chris{
    text-align:center;
    background: url(https://media.giphy.com/media/horIGYlpcjeHm/giphy.gif)
}
#dragons{
    text-align:center;
    background: url(https://media.giphy.com/media/oTUdldhItu4V2/giphy.gif)
}
#kendrick{
    text-align:center;
    background: url(https://media.giphy.com/media/Sn1hIvTNc6BvW/giphy.gif)
}
#old{
    text-align:center;
    background: url(https://media.giphy.com/media/iDD5ODYRIEKiy7xelT/giphy.gif)
}
#billie{
    text-align:center;
    background: url(https://media.giphy.com/media/3og0IyL5YW2scz4rFm/giphy.gif)
}
#ed{
    text-align:center;
    background: url(https://media.giphy.com/media/3oKIPbQliKLSaD6vLy/giphy.gif)
}
#panic{
    text-align:center;
    background: url(https://media.giphy.com/media/3o85xtIRz0YSxZCBXy/giphy.gif)
}
#jonas{
    text-align:center;
    background: url(https://media.giphy.com/media/Zb00rtSYAYulbyPd4C/giphy.gif)
}
#pink{
    text-align:center;
    background: url(https://media.giphy.com/media/kiWRX85gnEKnYbEnFk/giphy.gif)
}
#jcole{
    text-align:center;
    background: url(https://media.giphy.com/media/8P1j10n5axj0LhPlzY/giphy.gif)
}








